In [1]:

#importing pandas as pd
import numpy as np 
import pandas as pd 
import matplotlib

# Read the all data excel file
all_file = "/Users/sehaj/Desktop/Project 3/oes_research_2021_allsectors.xlsx"
read_file =  pd.read_excel(all_file, index_col="OCC_CODE")
  
read_file

,AREA,AREA_TITLE,NAICS,NAICS_TITLE,I_GROUP,OCC_TITLE,O_GROUP,TOT_EMP,EMP_PRSE,PCT_TOTAL,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
OCC_CODE,,,,,,,,,,,,,,,,,,,,,
00-0000,1,Alabama,11,"Agriculture, Forestry, Fishing and Hunting",sector,All Occupations,total,5750,0.3,100,...,18.02,23.3,29.32,23480,29630,37490,48470,60980,NaN,NaN
11-0000,1,Alabama,11,"Agriculture, Forestry, Fishing and Hunting",sector,Management Occupations,major,**,**,**,...,58.78,72.25,89.46,62320,77500,122260,150280,186070,NaN,NaN
11-1021,1,Alabama,11,"Agriculture, Forestry, Fishing and Hunting",sector,General and Operations Managers,detailed,130,25,2.29,...,58.64,61.51,77.28,62320,77070,121980,127940,160740,NaN,NaN
13-0000,1,Alabama,11,"Agriculture, Forestry, Fishing and Hunting",sector,Business and Financial Operations Occupations,major,**,**,**,...,29.6,38.2,58.56,37830,57660,61570,79450,121790,NaN,NaN
13-1020,1,Alabama,11,"Agriculture, Forestry, Fishing and Hunting",sector,Buyers and Purchasing Agents,detailed,40,39.8,0.66,...,29.77,38.2,58.56,37830,58480,61910,79450,121790,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53-3052,72,Puerto Rico,999300,"Local Government, excluding schools and hospit...",4-digit,"Bus Drivers, Transit and Intercity",detailed,60,4.8,0.13,...,12,12,12,17670,22170,24960,24960,24960,NaN,NaN
53-3053,72,Puerto Rico,999300,"Local Government, excluding schools and hospit...",4-digit,Shuttle Drivers and Chauffeurs,detailed,210,1,0.44,...,8.61,9.11,11.08,17180,17550,17920,18940,23050,NaN,NaN
53-7062,72,Puerto Rico,999300,"Local Government, excluding schools and hospit...",4-digit,"Laborers and Freight, Stock, and Material Move...",detailed,710,2.9,1.44,...,8.94,10.81,13.59,17510,17720,18590,22480,28260,NaN,NaN
53-7065,72,Puerto Rico,999300,"Local Government, excluding schools and hospit...",4-digit,Stockers and Order Fillers,detailed,280,1.5,0.58,...,8.93,10.21,11.65,16980,17510,18570,21230,24240,NaN,NaN
53-7081,72,Puerto Rico,999300,"Local Government, excluding schools and hospit...",4-digit,Refuse and Recyclable Material Collectors,detailed,210,2.4,0.43,...,8.93,9.11,9.11,17620,18000,18570,18940,18940,NaN,NaN

In [2]:
all_file_clean = read_file.drop(['ANNUAL', 'HOURLY', 'AREA', 'NAICS', 'I_GROUP', 'EMP_PRSE', 'H_MEAN', 'MEAN_PRSE', 'H_MEAN', 'A_MEAN', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'PCT_TOTAL' ], axis=1)
all_file_clean

,AREA_TITLE,NAICS_TITLE,OCC_TITLE,O_GROUP,TOT_EMP
OCC_CODE,,,,,
00-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",All Occupations,total,5750
11-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",Management Occupations,major,**
11-1021,Alabama,"Agriculture, Forestry, Fishing and Hunting",General and Operations Managers,detailed,130
13-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",Business and Financial Operations Occupations,major,**
13-1020,Alabama,"Agriculture, Forestry, Fishing and Hunting",Buyers and Purchasing Agents,detailed,40
...,...,...,...,...,...
53-3052,Puerto Rico,"Local Government, excluding schools and hospit...","Bus Drivers, Transit and Intercity",detailed,60
53-3053,Puerto Rico,"Local Government, excluding schools and hospit...",Shuttle Drivers and Chauffeurs,detailed,210
53-7062,Puerto Rico,"Local Government, excluding schools and hospit...","Laborers and Freight, Stock, and Material Move...",detailed,710
53-7065,Puerto Rico,"Local Government, excluding schools and hospit...",Stockers and Order Fillers,detailed,280
53-7081,Puerto Rico,"Local Government, excluding schools and hospit...",Refuse and Recyclable Material Collectors,detailed,210

In [3]:
all_file_clean

,AREA_TITLE,NAICS_TITLE,OCC_TITLE,O_GROUP,TOT_EMP
OCC_CODE,,,,,
00-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",All Occupations,total,5750
11-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",Management Occupations,major,**
11-1021,Alabama,"Agriculture, Forestry, Fishing and Hunting",General and Operations Managers,detailed,130
13-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",Business and Financial Operations Occupations,major,**
13-1020,Alabama,"Agriculture, Forestry, Fishing and Hunting",Buyers and Purchasing Agents,detailed,40
...,...,...,...,...,...
53-3052,Puerto Rico,"Local Government, excluding schools and hospit...","Bus Drivers, Transit and Intercity",detailed,60
53-3053,Puerto Rico,"Local Government, excluding schools and hospit...",Shuttle Drivers and Chauffeurs,detailed,210
53-7062,Puerto Rico,"Local Government, excluding schools and hospit...","Laborers and Freight, Stock, and Material Move...",detailed,710
53-7065,Puerto Rico,"Local Government, excluding schools and hospit...",Stockers and Order Fillers,detailed,280
53-7081,Puerto Rico,"Local Government, excluding schools and hospit...",Refuse and Recyclable Material Collectors,detailed,210

In [4]:
all_file_clean.loc[all_file_clean['O_GROUP'] == 'detailed']

,AREA_TITLE,NAICS_TITLE,OCC_TITLE,O_GROUP,TOT_EMP
OCC_CODE,,,,,
11-1021,Alabama,"Agriculture, Forestry, Fishing and Hunting",General and Operations Managers,detailed,130
13-1020,Alabama,"Agriculture, Forestry, Fishing and Hunting",Buyers and Purchasing Agents,detailed,40
19-1032,Alabama,"Agriculture, Forestry, Fishing and Hunting",Foresters,detailed,80
43-3031,Alabama,"Agriculture, Forestry, Fishing and Hunting","Bookkeeping, Accounting, and Auditing Clerks",detailed,60
43-6014,Alabama,"Agriculture, Forestry, Fishing and Hunting","Secretaries and Administrative Assistants, Exc...",detailed,200
...,...,...,...,...,...
53-3052,Puerto Rico,"Local Government, excluding schools and hospit...","Bus Drivers, Transit and Intercity",detailed,60
53-3053,Puerto Rico,"Local Government, excluding schools and hospit...",Shuttle Drivers and Chauffeurs,detailed,210
53-7062,Puerto Rico,"Local Government, excluding schools and hospit...","Laborers and Freight, Stock, and Material Move...",detailed,710
53-7065,Puerto Rico,"Local Government, excluding schools and hospit...",Stockers and Order Fillers,detailed,280
53-7081,Puerto Rico,"Local Government, excluding schools and hospit...",Refuse and Recyclable Material Collectors,detailed,210

In [5]:
all_file_clean['TOT_EMP'] = all_file_clean['TOT_EMP'].replace('**', 0)

In [6]:
all_file_clean = all_file_clean.astype({'TOT_EMP':'int'})

In [7]:
gkk_subset = all_file_clean[['AREA_TITLE','OCC_TITLE','TOT_EMP']]
gkk_subset

,AREA_TITLE,OCC_TITLE,TOT_EMP
OCC_CODE,,,
00-0000,Alabama,All Occupations,5750
11-0000,Alabama,Management Occupations,0
11-1021,Alabama,General and Operations Managers,130
13-0000,Alabama,Business and Financial Operations Occupations,0
13-1020,Alabama,Buyers and Purchasing Agents,40
...,...,...,...
53-3052,Puerto Rico,"Bus Drivers, Transit and Intercity",60
53-3053,Puerto Rico,Shuttle Drivers and Chauffeurs,210
53-7062,Puerto Rico,"Laborers and Freight, Stock, and Material Move...",710
53-7065,Puerto Rico,Stockers and Order Fillers,280
53-7081,Puerto Rico,Refuse and Recyclable Material Collectors,210

In [8]:
gkk = gkk_subset.groupby(['AREA_TITLE','OCC_TITLE'])['TOT_EMP'].sum()
gkk

AREA_TITLE  OCC_TITLE
Alabama     Accountants and Auditors                                                                          61160
            Adhesive Bonding Machine Operators and Tenders                                                      430
            Administrative Law Judges, Adjudicators, and Hearing Officers                                       200
            Administrative Services Managers                                                                    510
            Adult Basic Education, Adult Secondary Education, and English as a Second Language Instructors     1080
                                                                                                              ...
Wyoming     Water and Wastewater Treatment Plant and System Operators                                          1460
            Welders, Cutters, Solderers, and Brazers                                                           4210
            Wellhead Pumpers                                                                                   1120
            Woodworking Machine Setters, Operators, and Tenders, Except Sawing                                   70
            Zoologists and Wildlife Biologists                                                                  720
Name: TOT_EMP, Length: 35956, dtype: int64

In [9]:
gkk_subset.to_csv('/Users/sehaj/Desktop/Project 3/Data_cleaning.csv')

In [32]:
all_file_clean.drop_duplicates(subset = ['OCC_TITLE', 'TOT_EMP'])

,AREA_TITLE,NAICS_TITLE,OCC_TITLE,O_GROUP,TOT_EMP
OCC_CODE,,,,,
00-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",All Occupations,total,5750
11-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",Management Occupations,major,**
11-1021,Alabama,"Agriculture, Forestry, Fishing and Hunting",General and Operations Managers,detailed,130
13-0000,Alabama,"Agriculture, Forestry, Fishing and Hunting",Business and Financial Operations Occupations,major,**
13-1020,Alabama,"Agriculture, Forestry, Fishing and Hunting",Buyers and Purchasing Agents,detailed,40
...,...,...,...,...,...
33-3051,Puerto Rico,"Local Government, excluding schools and hospit...",Police and Sheriff's Patrol Officers,detailed,2820
43-0000,Puerto Rico,"Local Government, excluding schools and hospit...",Office and Administrative Support Occupations,major,9730
43-2099,Puerto Rico,"Local Government, excluding schools and hospit...","Communications Equipment Operators, All Other",detailed,110
43-6014,Puerto Rico,"Local Government, excluding schools and hospit...","Secretaries and Administrative Assistants, Exc...",detailed,2180
47-4051,Puerto Rico,"Local Government, excluding schools and hospit...",Highway Maintenance Workers,detailed,4030